{% extends 'base.html' %}
{% block title %} {{ title }} Alumno {% endblock %}
{% block content %}
  <div class="mx-auto">
    <h1 class="display-3 py-3 text-center">{{ title }} Alumno</h1>
  </div>
  <div class="mx-auto my-4">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-hover table-responsive">
                {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-primary mx-3">{{ title }}</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}